
.modalContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.modalHeader{
    text-align: center;
    font-size: 30px; 
    padding: 0px 10px 20px 10px;
}

.modalBody{
    text-align: center;
    flex-grow:1;
}

.bodyImg{
    height: 50vh;
}

.modalFooter{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #FA6E59;
    cursor: pointer;
}